In [5]:
!pip install pandas

Requirement already satisfied: pandas in /home/ivan/Desktop/machine-learning-zoomcamp/ml_zoomcamp_01/lib/python3.12/site-packages (2.3.1)
Requirement already satisfied: numpy>=1.26.0 in /home/ivan/Desktop/machine-learning-zoomcamp/ml_zoomcamp_01/lib/python3.12/site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/ivan/Desktop/machine-learning-zoomcamp/ml_zoomcamp_01/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/ivan/Desktop/machine-learning-zoomcamp/ml_zoomcamp_01/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/ivan/Desktop/machine-learning-zoomcamp/ml_zoomcamp_01/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /home/ivan/Desktop/machine-learning-zoomcamp/ml_zoomcamp_01/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

Descargamos el dataset.

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv"
df = pd.read_csv(url)

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

Q2. Records count
How many records are in the dataset?

In [6]:
df.describe()

               RAM      Storage       Screen  Final Price
count  2160.000000  2160.000000  2156.000000  2160.000000
mean     15.413889   596.294444    15.168112  1312.638509
std       9.867815   361.220506     1.203329   911.475417
min       4.000000     0.000000    10.100000   201.050000
25%       8.000000   256.000000    14.000000   661.082500
50%      16.000000   512.000000    15.600000  1031.945000
75%      16.000000  1000.000000    15.600000  1708.970000
max     128.000000  4000.000000    18.000000  7150.470000

Podemos observar que la cantidad de registros que hay en este dataset es: 2160

Q3. Laptop brands
How many laptop brands are presented in the dataset?

In [8]:
marca_unicas = df['Brand'].unique()
cantidad_de_marcas = len(marca_unicas)
print(cantidad_de_marcas)

27

Podemos observar que hay 27 marcas presente.

Q4. Missing values
How many columns in the dataset have missing values?

0
1
2
3

In [ ]:
Q4. Missing values
How many columns in the dataset have missing values?

0
1
2
3